<div id="game" ng-controller="lvlss.gameController as game">
    <h1 class="title">lvlss</h1>
    <div class="clear command-holder">
        <input class="command" ng-model="game.command" type="text" ng-enter="game.sendCommand()">
        <button ng-click="game.sendCommand()">Run</button>
    </div>
    <section class="game-cell full-height one-half" scroll-glue>
        <h2>{{ game.location.name }}</h2>
        <p>{{ game.location.description }}</p>
        <h3 ng-if="game.location_areas.length > 0">Nearby places:</h3>
        <ul class="items" ng-repeat="area in game.location_areas track by area.id">
            <li>Travel to <a href="#" ng-click="game.travel(area.id)">{{ area.name }}</a></li>
        </ul>
        <h3 ng-if="game.location_items.length > 0">Items here:</h3>
        <ul class="items" ng-repeat="item in game.location_items track by item.id">
            <li><img class="item-image" ng-src="/get-img/{{ item.id }}"> {{ item.name }} <a href="#" ng-click="game.takeItem(item.id)">take</a> <a href="#" ng-click="game.openProperties(item.id)">look</a></li>
        </ul>
    </section>
    <section class="game-cell one-half" scroll-glue>
        <ul class="clientcrap" ng-repeat="line in game.clientcrap track by $index">
            <li>{{ line }}</li>
        </ul>
    </section>

    <section class="game-cell one-half" scroll-glue>
        <p>
            <span class="player-name">{{ game.player.name }}</span><br>
            <strong>Credits:</strong> {{ game.player.credits }}
        </p>
        <h3 ng-if="game.inventory.length > 0">Inventory:</h3>
        <ul class="items" ng-repeat="item in game.inventory track by item.id">
            <li><img class="item-image" ng-src="/get-img/{{ item.id }}"> {{ item.name }} <a href="#" ng-click="game.dropItem(item.id)">drop</a> <a href="#" ng-click="game.editScript(item.id)">script</a> <a href="#" ng-click="game.openProperties(item.id)">look</a> <a href="#" ng-click="game.copyItem(item.id)">copy</a></li>
        </ul>
    </section>

</div>

<div id="script-editor" ng-controller="lvlss.scriptEditorController as editor" ng-show="editor.itemId !== undefined">
    <h2>Editing script for: <img class="item-image" ng-src="/get-img/{{editor.thing.id}}"> <strong>{{ editor.thing.name }}</strong></h2>
    <p>
        <button ng-click="editor.save()">Save</button>
        <button ng-click="editor.load()">Reset</button>
        <button ng-click="editor.close()">Close</button>
        <span ng-if="editor.scriptMessage.length > 0">{{ editor.scriptMessage }}</span>
    </p>
    <p>
        <textarea class="script-body" name="script_body" ng-model="editor.scriptBody"></textarea>        
    </p>
</div>

<div id="properties" ng-controller="lvlss.propertiesController as properties" ng-show="properties.id !== undefined">
    <h2>Properties for {{ properties.thing.name }}</h2>
    <p>{{ properties.thing.description }}</p>
    <p>
        ID: {{ properties.id }}<br>
        Value: {{ properties.value }}<br>
        <a href="#" ng-click="properties.editScript(properties.id)">Edit Script</a>
    </p>
    <p>
        <button ng-click="properties.close()">Close</button>
    </p>
</div>

<div id="image-ditor" ng-controller="lvlss.imageEditorController as imageEditor" ng-show="imageEditor.rows !== undefined">
    <h2>Icon Editor</h2>
    <div class="edit-field" ng-repeat="row in imageEditor.rows track by $index" ng-init="var rowIndex = $index">
        <div class="edit-row" ng-repeat="cell in row track by $index" ng-init="var cellIndex = $index">
            <div ng-class="{'edit-cell': true, filled: imageEditor.rows[$rowIndex][$cellIndex]}" ng-click="imageEditor.toggle($rowIndex, $cellIndex)"></div>
        </div>
    </div>

    <p>
        <button ng-click="properties.close()">Close</button>
    </p>
</div>