<div id="game" ng-controller="lvlss.gameController as game">
    <h1 class="title">lvlss</h1>
    <div class="clear command-holder">
        <input class="command" ng-model="game.command" type="text" ng-enter="game.sendCommand()">
        <button ng-click="game.sendCommand()">Run</button>
    </div>
    <section class="game-cell full-height one-half" scroll-glue>
        <h2>{{ game.location.name }}</h2>
        <p>{{ game.location.description }}</p>
        <h3 ng-if="game.location_areas.length > 0">Nearby places:</h3>
        <ul class="items" ng-repeat="area in game.location_areas track by $index">
            <li>Travel to <a href="#" ng-click="game.travel(area.id)">{{ area.name }}</a></li>
        </ul>
        <h3 ng-if="game.location_items.length > 0">Items here:</h3>
        <ul class="items" ng-repeat="item in game.location_items track by $index">
            <li>{{ item.name }} <a href="#" ng-click="game.takeItem(item.id)">take</a> <a href="#" ng-click="game.openProperties(item.id)">look</a></li>
        </ul>
    </section>
    <section class="game-cell one-half" scroll-glue>
        <ul class="clientcrap" ng-repeat="line in game.clientcrap track by $index">
            <li>{{ line }}</li>
        </ul>
    </section>

    <section class="game-cell one-half" scroll-glue>
        <p>
            <span class="player-name">{{ game.player.name }}</span><br>
            <strong>Credits:</strong> {{ game.player.credits }}
        </p>
        <h3 ng-if="game.inventory.length > 0">Inventory:</h3>
        <ul class="items" ng-repeat="item in game.inventory track by $index">
            <li>{{ item.name }} <a href="#" ng-click="game.dropItem(item.id)">drop</a> <a href="#" ng-click="game.editScript(item.id)">script</a> <a href="#" ng-click="game.openProperties(item.id)">look</a></li>
        </ul>
    </section>

</div>

<div id="script-editor" class="hidden" ng-controller="lvlss.scriptEditorController as editor">
    <p><button ng-click="editor.save()">Save</button> <button ng-click="editor.load()">Reset</button> <button ng-click="editor.close()">Close</button></p>
    <div><span ng-if="editor.scriptMessage.length > 0">{{ editor.scriptMessage }}</span></div>
    <p>
        <textarea class="script-editor" name="script_body" ng-model="editor.scriptBody"></textarea>        
    </p>
</div>

<div id="properties" class="hidden" ng-controller="lvlss.propertiesController as properties">
    <h2>Properties for {{ properties.name }}</h2>
    <p>
        ID: {{ properties.id }}
    </p>
    <p>
        <button ng-click="properties.close()">Close</button>
    </p>
</div>