@font-face {
    font-family: vga;
    src: url('../fonts/vga.ttf') format('truetype');
}

[ng-repeat].ng-enter, [ng-if].ng-enter {
  transition: 0.25s linear all;
  opacity: 0;
}

[ng-repeat].ng-enter.ng-enter-active, [ng-if].ng-enter.ng-enter-active {
  opacity: 1;
}

[ng-repeat].ng-leave, [ng-if].ng-leave {
  transition: 0.25s linear all;
  opacity: 1;
}

[ng-repeat].ng-leave.ng-leave-active, [ng-if].ng-leave.ng-leave-active {
  opacity: 0;
}

body {
    font-family: vga;
    background-color: #000;
    color: #E0E0E0;
    background-image: url('../images/loveless.jpg');
    background-size: cover;
    font-size: 16px;
}

#game {
    position: relative;
}
    #game h1.title {
        font-style: italic;
        position: absolute;
        right: 4vw;
        top: -4vh;
        font-size: 200%;
    }

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
}

a, a:visited, a:active {
    color: #F0F;
}

a:hover {
    color: #F00;
}

.one-half {
    width: 45vw;
}

.one-quarter {
    width: 24vw;
}

.game-cell {
    margin: 0 1vw 3vh 0;
    height: 37.5vh;
    display: block;
    float: left;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    padding: 1vh 1vw;
}

    .game-cell.full-height {
        height: 80vh;
    }

.clear {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    ul li {
        padding: 0;
    }

.hidden {
    display: none;
}

.script-editor {
    width: 80vw;
    height: 80vh;
}

.command-holder {
    margin: 1vh 1vw 1vh 0;
}

input, button, textarea {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    font-size: 16px;
    font-family: vga;
    border: 2px solid rgba(0, 0, 0, 0.7);
    padding: 1vh 1vw;
}
    input.command {
        width: 40vw;
        margin-bottom: 2vh
    }


button {
    border: 2px solid #FFF;
    color: #000;
    background-color: #FFF
}
    button:hover {
        cursor: pointer;
        background-color: #F0F;
        border-color: #F0F;
    }
