[ng-repeat].ng-enter, [ng-if].ng-enter {
  transition: 0.1s ease all;
  opacity: 0;
}

[ng-repeat].ng-enter.ng-enter-active, [ng-if].ng-enter.ng-enter-active {
  opacity: 1;
}

[ng-repeat].ng-leave, [ng-if].ng-leave {
  transition: 0.1s ease all;
  opacity: 1;
}

[ng-repeat].ng-leave.ng-leave-active, [ng-if].ng-leave.ng-leave-active {
  opacity: 0;
}




body {
    font-family: "Varela Round", sans-serif;
    background-color: #000;
    color: #E5E5E5;
    background-image: url('../images/loveless.jpg');
    background-size: cover;
    font-size: 16px;
}

#game {
    position: relative;
}
    #game h1.title {
        font-style: italic;
        position: absolute;
        right: 5vw;
        top: -4vh;
        font-size: 200%;
    }

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
}

a, a:visited, a:active {
    color: #900;
}

a:hover {
    color: #F00;
}

.one-half {
    width: 45vw;
}

.one-quarter {
    width: 24vw;
}

.game-cell {
    margin: 0 2vw 3vh 0;
    height: 38vh;
    display: block;
    float: left;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
    padding: .5vh .5vw;
    color: #040404;
}

    .game-cell.full-height {
        height: 80vh;
    }

.clear {
    clear: both;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
    ul li {
        padding: 0;
    }

.hidden {
    display: none;
}



.command-holder {
    margin: 1vh 1vw 1vh 0;
}

input, button, textarea {
    background-color: rgba(255, 255, 255, 0.8);
    color: #040404;
    font-size: 16px;
    font-family: "Varela Round";
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 1vh .5vw;
}
    input.command {
        width: 40vw;
        margin-bottom: 2vh
    }


button {
    border: 2px solid #FFF;
    color: #000;
    background-color: #FFF
}
    button:hover {
        cursor: pointer;
        background-color: #F0F;
        border-color: #F0F;
    }

.player-name {
    color: #FFF;
}

#properties {
    width: 40vw;
    height: 60vh;
    background-color: rgba(100, 0, 0, 0.85);
    clear: none;
    position: absolute;
    left: 30vw;
    top: 15vh;
    padding: 2vh 2vw;
}

#script-editor {
    width: 82vw;
    height: 82vh;
    background-color: rgba(100, 0, 0, 0.85);
    clear: none;
    position: absolute;
    left: 6.5vw;
    top: 8vh;
    padding: 2vh 2vw;
}

    .script-body {
        width: 80vw;
        height: 55vh;
        font-family: "Anonymous Pro", monospace;
    }

