@font-face {
    font-family: vga;
    src: url('../fonts/vga.ttf') format('truetype');
}
body {
    font-family: vga;
    background-color: #000;
    color: #CCC;
}
div.cell {
    width: 350px;
    height: 200px;
    display: inline-block;
    border: 2px solid #CCC;
    margin: 2px;
    padding: 4px;
    overflow-y: scroll;
}